.count {
  padding: 10px;
  color: red;
}
.action {
  margin-left: 220px;
  padding: 5px;
}
.heading {
  width: 100%;
  height: 40px;
  color: white;
  background-color: green;
  text-align: center;
}
.heading p {
  padding-top: 8px;
}
.add-counter {
  height: 30px;
  background-color: green;
  color: white;
}
.reset {
  height: 30px;
  color: white;
  background-color: red;
}
.counter {
  margin: 10px auto 0px 180px;
}
.incr {
  height: 30px;
}
.dcr {
  height: 30px;
}
.delete {
  height: 30px;
  background-color: red;
  color: white;
}
